/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-scroll::-webkit-scrollbar {
  /* width: 2px; */
  @apply bg-transparent w-2 md:w-3;
}

.styled-scroll::-webkit-scrollbar-thumb {
  @apply bg-main-dark dark:bg-main-light-100;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  gap: 1rem;
  place-content: center;
}

@layer utilities {
  .test-border {
    border: 1px solid red;
  }
}
